<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header-logo">
          <a href="/admin/dashboard">
            <img
              src="/images/logo.svg"
              style="max-width: 100%; height: auto"
              alt="PizzazzPizza Logo"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="main-navigation">
          <div class="header-right">
            <button
              onclick="window.location.href='/admin/logout'"
              class="sec-btn"
              style="color: white; background: orange"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
