<div class="admin-sidebar">
  <div class="sidebar-header">
    <a href="/admin/dashboard">
      <img
        src="/images/logo.svg"
        style="max-width: 150px; height: auto"
        alt="PizzazzPizza Logo"
      />
    </a>
    <h5>Admin Panel</h5>
  </div>
  <ul>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/addFood">Add Food</a></li>
    <li><a href="/admin/orders">View & Dispatch Orders</a></li>
    <li><a href="/admin/changePrice">Change Price</a></li>
  </ul>
  <div class="sidebar-logout">
    <a href="/admin/logout"> Logout </a>
  </div>
</div>
