<footer class="site-footer" id="contact">
  <div class="top-footer section">
    <div class="sec-wp">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-info">
              <div class="footer-logo">
                <a href="/">
                  <img src="/images/logo.svg" alt="PizzazzPizza Logo" style="max-width: 100%; height: auto" />
                </a>
              </div>
              <p>You will wonder how you ever lived without us.</p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#"><i class="uil uil-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="uil uil-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="footer-flex-box">
              <div class="footer-table-info">
                <h3 class="h3-title">OPEN HOURS</h3>
                <ul>
                  <li><i class="uil uil-clock"></i> Mon-Thurs : 9am - 22pm</li>
                  <li><i class="uil uil-clock"></i> Fri-Sun : 11am - 22pm</li>
                </ul>
              </div>
              <div class="footer-menu food-nav-menu">
                <h3 class="h3-title">LINKS</h3>
                <ul class="column-2">
                  <li><a href="/#">Home</a></li>
                  <li><a href="/#about">About</a></li>
                  <li><a href="/#team">Our Chefs</a></li>
                  <li><a href="/#testimonials">Testimonials</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
              <div class="footer-menu">
                <h3 class="h3-title">COMPANY</h3>
                <ul>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Cookie Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copyright-text">
            <p>
              Copyright &copy; 2025
              <span class="name">PizzazzPizza</span> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
      <button class="scrolltop" onclick="scrollToTop()">
        <i class="uil uil-angle-up"></i>
      </button>
    </div>
  </div>
</footer>

<script src="https://cdn.botpress.cloud/webchat/v2.5/inject.js"></script>
<script>
  window.botpress.init({
    "botId": "1ba44475-64c1-4cc5-9d39-a4bb2b89d2ae",
    "configuration": {
      "website": {},
      "email": {},
      "phone": {},
      "termsOfService": {},
      "privacyPolicy": {},
      "color": "#f76b15",
      "variant": "solid",
      "themeMode": "light",
      "fontFamily": "ibm",
      "radius": 1
    },
    "clientId": "eb61a6c4-5ec2-4b26-bdbb-905fad2daed9"
  });
</script>
</body>

</html>