<header class="site-header">
  <!-- Debug info that will be visible in development -->
  <% if (process.env.NODE_ENV !== 'production') { %>
  <!-- 
    <div style="display: none;">
      Auth Debug: 
      userid: <%= typeof userid !== 'undefined' ? userid : 'undefined' %>, 
      isAdmin: <%= typeof isAdmin !== 'undefined' ? isAdmin : 'undefined' %>
    </div>
    -->
  <% } %>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <div class="header-logo">
          <a href="/"
            ><img
              src="/images/logo.svg"
              style="max-width: 100%; height: auto"
              alt="PizzazzPizza Logo"
          /></a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="main-navigation">
          <button class="menu-toggle"><span></span><span></span></button>
          <nav class="header-menu">
            <ul class="menu food-nav-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/#about">About Us</a></li>
              <li><a href="/#team">Our Chefs</a></li>
              <li><a href="/#testimonials">Testimonials</a></li>
              <li><a href="/#contact">Contact</a></li>
            </ul>
          </nav>
          <div class="header-right">
            <form action="#" class="header-search-form for-des">
              <input
                type="search"
                class="form-input"
                placeholder="Search Here..."
              />
              <button type="submit">
                <i class="uil uil-search"></i>
              </button>
            </form>
            <% if (typeof userid !== 'undefined' && userid) { %> <% if (typeof
            isAdmin !== 'undefined' && isAdmin === true) { %>
            <a href="/admin/dashboard" class="header-btn">
              <i class="uil uil-user-circle" title="Admin Dashboard"></i>
            </a>
            <% } else { %>
            <a href="/homepage" class="header-btn">
              <i class="uil uil-user-circle" title="My Account"></i>
            </a>
            <% } %> <% } else { %>
            <a href="/signin" class="header-btn">
              <i class="uil uil-user-md" title="Sign In / Sign Up"></i>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
