<header class="site-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <div class="header-logo">
          <a href="/homepage">
            <img src="/images/logo.svg" alt="PizzazzPizza Logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="main-navigation">
          <button class="menu-toggle user-nav-toggle">
            <span></span><span></span>
          </button>
          <div class="header-right">
            <form action="/search" method="GET" class="header-search-form for-des">
              <input type="search" name="query" class="form-input" placeholder="Search Menu..." />
              <button type="submit">
                <i class="uil uil-search"></i>
              </button>
            </form>
            <a onclick="openMyCart()" class="header-btn header-cart">
              <i class="uil uil-shopping-bag"></i>
              <span class="cart-number" id="cart-number-count">0</span>
            </a>
            <div class="dropdown">
              <button id="usernameDropdownBtn" class="header-username" style="color: #ff8243; padding: 4px 8px">
                <b><i> <%= username %> </i></b>
              </button>
              <div id="myDropdown" class="dropdown-content">
                <a href="/orders" style="text-decoration: none !important">My Orders</a>
                <a href="/settings" style="text-decoration: none !important">Settings</a>
                <a href="/logout" style="text-decoration: none !important">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>