<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password - PizzazzPizza</title>
  <!-- icons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <!-- swiper slider -->
  <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
  <!-- fancy box -->
  <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!-- Header starts -->
  <header class="site-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header-logo">
            <a href="/">
              <img src="/images/logo.svg" style="max-width: 100%; height: auto" alt="PizzazzPizza Logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header ends -->

  <div id="viewport">
    <div id="js-scroll-content">
      <section class="section" style="background-image: url(/images/menu-bg.png)">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="sec-title text-center mb-5">
                <h2 class="h2-title">Create New Password</h2>
                <div class="sec-title-shape mb-4">
                  <img src="/images/title-shape.svg" alt="" />
                </div>
                <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert" style="max-width: 450px; margin: 0 auto 15px auto; text-align: left;">
                  <strong>Please correct the following errors:</strong><br>
                  <% error.split(',').forEach(function(errMsg) { %>
                  - <%= errMsg.trim() %><br>
                  <% }); %>
                </div>
                <% } %>
                <% if (message && message.length > 0) { %>
                <div class="alert alert-success" role="alert" style="max-width: 450px; margin: 0 auto 15px auto;">
                  <%= message %>
                </div>
                <% } %>
                <form action="/reset-password" method="post" id="resetPasswordForm">
                  <input type="hidden" name="token" value="<%= token %>" />
                  <input type="password" placeholder="New Password" required class="form-input" name="new_password" id="InputPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character." style="width: 450px" /><br /><br />
                  <input type="password" placeholder="Confirm New Password" required class="form-input" name="confirm_password" id="ConfirmInputPassword" style="width: 450px" /><br /><br />
                  <input type="submit" value="Reset Password" class="sec-btn sec-btn-orange" style="color: white; background: orange" /><br />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>
    </div>
  </div>

  <script>
    // Basic client-side validation for immediate feedback, server-side is the authority
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
      const newPassword = document.getElementById('InputPassword').value;
      const confirmPassword = document.getElementById('ConfirmInputPassword').value;
      const passwordPattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}/;
      let errors = [];

      if (newPassword.length < 8) {
        errors.push('Password must be at least 8 characters long.');
      }
      if (!/(?=.*[a-z])/.test(newPassword)) {
        errors.push('Password must contain at least one lowercase letter.');
      }
      if (!/(?=.*[A-Z])/.test(newPassword)) {
        errors.push('Password must contain at least one uppercase letter.');
      }
      if (!/(?=.*\d)/.test(newPassword)) {
        errors.push('Password must contain at least one number.');
      }
      if (!/(?=.*[\W_])/.test(newPassword)) { // \W is non-word, _ is underscore
        errors.push('Password must contain at least one special character.');
      }
      if (newPassword !== confirmPassword) {
        errors.push('New password and confirm password do not match.');
      }

      if (errors.length > 0) {
        event.preventDefault(); // Stop form submission
        alert('Please correct the following errors:\n- ' + errors.join('\n- '));
      }
    });
  </script>

  <!-- jquery -->
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <!-- bootstrap -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <!-- fontawesome -->
  <script src="/javascripts/font-awesome.min.js"></script>
  <!-- swiper slider -->
  <script src="/javascripts/swiper-bundle.min.js"></script>
  <!-- mixitup -- filter -->
  <script src="/javascripts/jquery.mixitup.min.js"></script>
  <!-- fancy box -->
  <script src="/javascripts/jquery.fancybox.min.js"></script>
  <!-- parallax -->
  <script src="/javascripts/parallax.min.js"></script>
  <!-- gsap -->
  <script src="/javascripts/gsap.min.js"></script>
  <!-- scroll trigger -->
  <script src="/javascripts/ScrollTrigger.min.js"></script>
  <!-- scroll to plugin -->
  <script src="/javascripts/ScrollToPlugin.min.js"></script>
  <!-- smooth scroll -->
  <script src="/javascripts/smooth-scroll.js"></script>
  <!-- custom js -->
  <script src="/javascripts/main.js"></script>
</body>

</html>